<div class="list" id="newtest_1">
    {{ name }}
    <ul>
        <li class="">
            <a href="http://v.dangdang.com/pn6553_3659_1.html" target="_blank">
                                            <img src="http://img62.ddimg.cn/2016/12/21/2016122116095512294.jpg">
                                        <span class="shop_name">花间公主新年大促</span>
                <span class="time">
                                                                                        <span overtype="5" js="true" action="countdown" type="seckill" class="time_hs" endvalue="1482976800" showtype="3"><span sec="sep">还剩<span>4</span>天</span></span>
                                                                                </span>
                <span class="left_shadow">
                    <span class="img_logo">
                                                            <img data-original="http://img62.ddimg.cn/2016/12/21/2016122116095524370.jpg" src="http://img62.ddimg.cn/2016/12/21/2016122116095524370.jpg" style="display: block;">
                                                        </span>
                    <span class="shop_ad">花间公主新年大促</span>
                    <span class="price_z">
                        1.9-3.9<span>折</span>                            </span>
                    <span class="sale">199减20</span>
                </span>
                <span class="red_circle" style="display: none;"></span>
            </a>
        </li>
    </ul>
</div>