<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;

        }
    </style>
</head>
<body>
    <div style="height: 48px;background-color: black;color: white">
        张扬凌晨三点玩愤怒的小鸟
    </div>
    <div>
        <div style="position: absolute;top:48px;bottom: 0;left: 0;width: 200px;background-color: brown;">
            <a class="menu" href="/cmdb/user_info/">用户管理</a>
            <a class="menu" href="/cmdb/user_group/">用户组管理</a>
        </div>
        <div style="position:absolute;top:48px;left: 210px;bottom: 0;right: 0;overflow: auto">

            <h1>编辑用户</h1>
            <form method="post" action="/cmdb/useredit-{{ obj.id }}/">
                <input style="display: none" type="text" name="id" value="{{ obj.id }}" />
                <input type="text" name="username" value="{{ obj.username }}" />
                <input type="text" name="password" value="{{ obj.password }}"/>
                <input type="submit" value="提交" />
            </form>

        </div>

    </div>

</body>
</html>